<owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide>
        <img src="assets/slider1.png" alt="slider ads">
    </ng-template>
    <ng-template carouselSlide>
        <img src="assets/slider2.png" alt="slider ads">
    </ng-template>
    <ng-template carouselSlide>
        <img src="assets/slider3.png" alt="slider ads">
    </ng-template>
    <ng-template carouselSlide>
        <img src="assets/slider4.png" alt="slider ads">
    </ng-template>
    <ng-template carouselSlide>
        <img src="assets/slider5.png" alt="slider ads">
    </ng-template>
</owl-carousel-o>